#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{
  width:100dvw;
  height:80px;
  background-color:#2a3342;
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
}
main{
  padding:75px 0 0 0;
}
#nowTime{
  font-size:30px;
  font-weight:bolder;
}
#yogurtAnime{
   font-size:55px;
   display: inline-block;
   font-weight:bolder;
}
.friend{
  font-size: 30px;
}
#Moew{
  background:linear-gradient(
    45deg,
  #B87333,
  #C16B2E,
  #C87A3A,
  #CD7F32,
  #D18B4C,
  #D69C60,
  #DDAE73,
  #FFD39B
  );
  background-clip:text;
  color:transparent;
}
#me{
  width:350px;
  display: inline-block;
  object-fit: cover;
  border-radius: 50%;
}
#img{
  float: left;
  margin-right: 20px;
}
.selfCare{
  display: flex;
  width:78dvw;
}
.selfCare p{
  display: flex;
  font-size:20px;
}
#info a{
  color:#ffff;
  font-weight:normal;
}
@media screen and (max-width:500px) {
main{
  padding: 75px 0 0 0;
}
  #yogurtAnime{
    font-size:20px;
    width:78dvw;
    display: inline-block;
    font-weight:bolder;
  }
  #nowTime{
  font-size:20px;
  font-weight:bolder;
  }
  #me{
    width:200px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
  }
  #img{
  float: none;
}
  .selfCare{
    display: block;
  }
  .selfCare p{
    display: block;
    font-size:18px;
  }
  .title{
  font-size:22px;
  }
  .friend{
  font-size: 15px;
}
}
@media (prefers-color-scheme: light){
  header{
    background-color: #ddeaff;
  }
  #info a{
    color: black;
  }
}